@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

*{
  margin: 0;
}

body{
  background-color: #E2E2FF;
  font-family: 'Cardo', serif;
  background-image: url('assets/tree1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: white;
}

h1{
  font-size: 4em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

h4{
  font-size: 1.5em;
}

h5{
  font-size: 1em;
}

ul .nav{
  padding: 15px;
  margin: 15px;
}

ul .nav:hover{
  font-weight: bold;
}

#photo{
  height: 350px;
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 200px;
}

#nav{
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

#nav span{
  margin: 10px;
  padding: 10px;
}

#contact{
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

.links h4{
  padding: 20px;
}

.links span{
  padding: 20px;
}

.projectImg{
  height: 200px;
  width: 332px;
  border-radius: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.project{
  border: 2px solid black;
  background-color: #4C1A00;
  margin: 20px;
  padding: 20px;
  h5{
    margin-top: 0;
  }
}

#title{
  text-align: center;
}

#about{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

#skills{
  text-align: left;
  font-family: 'Noto Sans', sans-serif;
}

#projects{
  font-family: 'Noto Sans', sans-serif;
}

#resume{
  font-family: 'Cardo', serif;
  font-weight: 400;
}

html, body{
  height: 100%;
}

.site-footer{
  height: 40px;
}

.site-footer{
  background: #4C1A00;
  font-size: .8em;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
