doctype html
html(ng-app='portfolio', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title {{title}}
    link(href='/public/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/vendor/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/public/index.css', rel='stylesheet')

  body(ng-controller='HomeCtrl')

    .container-fluid#title
      .row
        .col-xs-4
        .col-xs-4
          span &nbsp
          h1 Joy Pratt
        .col-xs-4
      .row
        .col-xs-12
          span &nbsp
      .row
        .col-xs-12
          h2 Full Stack Developer
          h4 Radiologic Technologist, R.T.(R)(M)
          
    .container-fluid#about
      .row
        .col-xs-12
          span &nbsp
      .row
        .col-xs-12
          span &nbsp
      .row
        .col-xs-12
          span &nbsp
      .row
        .col-xs-12
          img#photo(src='public/assets/Joy.jpg')
      .row
        .col-xs-12
          span &nbsp
      .row
        .col-xs-12
          span &nbsp
        
      .row
        .col-xs-12#bio
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    .container-fluid
      .row#contact
        .col-xs-12
          .links
            h4 Contact Me:
            span: a(href='http://github.com/JoyP').fa.fa-github.fa-lg &nbsp Github
            span: a(href='https://www.linkedin.com/in/joypratt').fa.fa-linkedin-square.fa-lg &nbsp LinkedIn
            span: a(href='https://twitter.com/joympratt').fa.fa-twitter.fa-lg &nbsp Twitter
            span: a(href='mailto:joympratt@gmail.com').fa.fa-envelope.fa-lg &nbsp Email

    .container-fluid
      .row#nav
        .col-xs-12
          span(ng-click='toggleHome()') All &nbsp
          span(ng-click='toggleProjects()') Projects &nbsp
          span(ng-click='toggleSkills()') Skills &nbsp
          span(ng-click='toggleResume()') Resume &nbsp
          
    .container-fluid
      .row#projects(ng-show='showProjects')
        .col-xs-1
        .col-xs-11
          h3 Projects
          span &nbsp
          span &nbsp
          h4 Games
          span &nbsp
          .project
            h5 Pirate's Booty
              h5 (Made with Phaser and Javascript)
              a(href='http://portfolio.joympratt.com/pirateb')
                img.projectImg(src='public/assets/PiratesBooty.png')
              h5 Team Members: 
                li: a(href='https://github.com/zoeames') Zoe Ames
                li: a(href='https://github.com/ABarnhard') Adam Barnhard
                li: a(href='https://github.com/SarahMPearson') Sarah Pearson
          .project
            h5 Burger Town
              h5 (Made with Phaser and Javascript)
              a(href='http://portfolio.joympratt.com/z-chaser')
                img.projectImg(src='public/assets/burger-hotdog.jpg') 
              h5 Team Members: 
                li: a(href='https://github.com/kadowki') Dave Boling 
                li: a(href='https://github.com/mkeef1') Matt Keef
          
          h4 Full Stack Apps: MongoDB, Express, AngularJS, Node.js
          span &nbsp

          .project
            h5 Casual Jams
              h5 Mid-term individual capstone
              a(href='http://casualjams.joympratt.com')
                img.projectImg(src='public/assets/casual-jams.jpg')

          
          .project
            h5 inTouch
              h5 Mid-term group capstone
              a(href='http://intouch.joympratt.com')
                img.projectImg(src='public/assets/inTouch.png')
              h5 Team Members:
                li: a(href='https://github.com/MikeBBarreiro') Michael Barreiro
                li: a(href='https://github.com/jbrooks036') JoAnn Brooks
                li: a(href='https://github.com/SarahMPearson') Sarah Pearson
                li: a(href='https://github.com/jessicafraines') Jessica Raines
                
      .row#skills(ng-show='showSkills')
        .col-xs-1
        .col-xs-11
          .skill
            h3 Skills
            span &nbsp
            h4 Languages
            h5
              li JavaScript
              li Node.js
              li AngularJS
              li HTML5
              li CSS
              li Jade
            span &nbsp
            h4 Databases
            h5 
              li MongoDB
              li Access
            span &nbsp
            h4 Tools
            h5 
              li Git
              li GitHub
              li Express
              li Vim
              li Atom
              li Grunt
              li Gulp
            span &nbsp
            h4 Operating Systems
            h5 
              li Windows 8.1 and earlier
              li MacOS X and earlier
            span &nbsp
            h4 Microsoft Office: 
            h5 
              li Word
              li Excel
              li PowerPoint
              li Outlook
              li Project
            span &nbsp
            span &nbsp
          
    .container-fluid
      .row#resume(ng-show='showResume')
        .col-xs-1
        .col-xs-11
          .res
            h3 Resume
            span &nbsp
            h4 Education
            h5 In progress, member of Cohort 6
            h5 Nashville Software School, Nashville, TN
            span &nbsp
            h5 In progress, majoring in Information Technology
            h5 University of Phoenix, Nashville, TN
            span &nbsp
            h5 Associates in Applied Science in Radiologic Technology, August 2004
            h5 Mansfield University, Mansfield, PA
            span &nbsp

            h4 Accomplishments
            span &nbsp
              li Participated in the Vanderbilt Breast Center Diagnostic Management Team kick-off as a subject matter expert for mammography statistics
              li Assisted the Vanderbilt Breast Analytics Team in determining how to extract meaningful data from different sources, including Imagecast (RIS), Starpanel (Electronic Medical Record), and billing information
              li Daily in-depth use of multiple Vanderbilt systems: StarPanel, PowerScribe, Epic, Hologic systems and view-stations
              li Expert user of the mammography module in General Electric’s Imagecast (Radiology Information System), implemented changes to create and sustain accurate data input and reporting
            span &nbsp

            h4 Professional Experience
            span &nbsp

            h4 Vanderbilt Breast Center, Nashville, TN
            h5 April 2007 - June 2014
            span &nbsp

            h5 Senior Specialty Technologist, December 2010– June 2014
              li Super-user for Imagecast/Centricity, PowerScribe, and Hologic applications
              li Trained and supported new and current users of all systems and applications in the Breast Center
              li Coordinated between departments and support personnel to resolve any issues with PACS storage or retrieval
              li Created, implemented, and monitored protocols and workflows, including system downtime, sub-optimal studies, technical repeats, data entry, reporting statistics, and patient follow-up
              li Supervised a staff of 23 people
              li Assisted in managing patient and staff schedules
              li Compiled and calculated radiologists’ interpretive statistics semi-annually
              li Performed mammography examinations
              li Performed data entry for imaging results, procedure information, and pathology results
            span &nbsp

            h5 Mammographer, August 2007– December 2010
              li Performed mammography examinations
              li Performed data entry for imaging results, procedure information, and pathology results
              li Assisted in administration tasks and file room coverage when needed
            span &nbsp

            h5 Administrative Assistant/Patient Care Tech, April 2007– August 2007
              li Worked as a patient services representative (PSR)
              li Performed a variety of job responsibilities while cross-training in mammography
            span &nbsp

            h4 Soldiers + Sailors Memorial Hospital, Wellsboro, PA
            h5 Radiologic Technologist, August, 2004– December 2006
            span &nbsp
              li Performed radiologic procedures and provided patient care
              li Responsibilities included working in the emergency room, operating room, nursing home, and outpatient radiology
              li Performed film-screen radiography, CR, and DR, as well as fluoroscopy

            h4 Abstract: 
              h5 Levy et al., 2014. A breast analytics dashboard to allow near-real-time visualization of quality assurance data. J Clin Oncol 32, 2014 (suppl 30; abstr 186)

            h4 Presentation: 
            h5 “The Evolution of BI-RADS,” Middle Tennessee Mammography Society. Nashville, TN, March, 2014
              li Approved for one category A continuing education credit through the American Registry of Radiologic Technologists (ARRT)
              li Discussed the history of the Breast Imaging- Reporting and Data System (BI-RADS) and how the guidelines have changed with advances in data technology
              li Gave a brief overview of benchmarking standards and metrics that mammography centers should calculate and monitor

            h4 Awards
              li Mammographer of the Year at Vanderbilt Breast Center, 2010
              li Siemen’s Medical Solutions Award of Excellence for Outstanding Academic Performance, 2004
            span &nbsp
          span &nbsp
    footer.site-footer &copy 2014 &nbsp Joy Pratt

    script(src='/public/vendor/jquery/dist/jquery.min.js')
    script(src='/public/vendor/angular/angular.min.js')
    script(src='/public/vendor/angular-route/angular-route.min.js')
    script(src='/public/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/public/index.js')
    script(src='/public/home.js')
