doctype html
html(ng-app='portfolio', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title {{title}}
    link(href='/public/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/index.css', rel='stylesheet')

  body(ng-controller='HomeCtrl')

    .container-fluid#title
      .row
        .col-xs-4
        .col-xs-4
          .span &nbsp
          h1 Joy Pratt
        .col-xs-4
      .row
        .col-xs-12
          .span &nbsp
      .row
        .col-xs-12
          h2 Full Stack Developer
          h4 Radiologic Technologist, R.T.(R)(M)
          
    .container-fluid#about
      .row
        .col-xs-12
          .span &nbsp
      .row
        .col-xs-12
          .span &nbsp
      .row
        .col-xs-12
          .span &nbsp
      .row
        .col-xs-12
          img#photo(src='public/assets/joy.jpg')
      .row
        .col-xs-12
          .span &nbsp
      .row
        .col-xs-12
          .span &nbsp
        
      .row
        .col-xs-12#bio
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .container-fluid
      .row
        .col-xs-1
        .col-xs-11.col-md-5#skills
          h3 Skills
          h4 Languages
          h5
            li JavaScript
            li Node.js
            li AngularJS
            li HTML5
            li CSS
            li Jade
          h4 Databases
          h5 
            li MongoDB
            li Access
          h4 Tools
          h5 
            li Git
            li GitHub
            li Express
            li Vim
            li Atom
            li Grunt
            li Gulp
          h4 Operating Systems
          h5 
            li Windows 8.1 and earlier
            li MacOS X and earlier
          h4 Microsoft Office: 
          h5 
            li Word
            li Excel
            li PowerPoint
            li Outlook
            li Project
            
        .col-xs-12.col-md-6#projects
          h3 Projects
            .span &nbsp
          h4 Games
          h5 Pirate's Booty
            h5 (Made with Phaser and Javascript)
            a(href='http://piratesbooty.joympratt.com')
              img.project(src='public/assets/piratesBooty.png')
            h5 Team Members: 
              li: a(href='https://github.com/zoeames') Zoe Ames
              li: a(href='https://github.com/ABarnhard') Adam Barnhard
              li: a(href='https://github.com/SarahMPearson') Sarah Pearson
            .span &nbsp
          h5 Burger Town
            h5 (Made with Phaser and Javascript)
            a(href='http://burgertown.joympratt.com')
              img.project(src='public/assets/burger-hotdog.jpg') 
            h5 Team Members: 
              li: a(href='https://github.com/kadowki') Dave Boling 
              li: a(href='https://github.com/mkeef1') Matt Keef
            
          h4 Full Stack Apps: MongoDB, Express, AngularJS, Node.js
          h5 Casual Jams
            h5 Mid-term individual capstone
            a(href='http://casualjams.joympratt.com')
              img.project
          h5 inTouch
            h5 Mid-term group capstone
            a(href='http://intouch.joympratt.com')
              img.project
            h5 Team Members:
              li: a(href='https://github.com/MikeBBarreiro') Michael Barreiro
              li: a(href='https://github.com/jbrooks036') JoAnn Brooks
              li: a(href='https://github.com/SarahMPearson') Sarah Pearson
              li: a(href='https://github.com/jessicafraines') Jessica Raines

    script(src='/public/vendor/jquery/dist/jquery.js')
    script(src='/public/vendor/angular/angular.min.js')
    script(src='/public/vendor/angular-route/angular-route.min.js')
    script(src='/public/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/public/index.js')
    script(src='/public/home.js')
