<!DOCTYPE html>
<html ng-app="portfolio" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="/public/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/public/index.css" rel="stylesheet">
  </head>
  <body ng-controller="HomeCtrl">
    <div role="navigation" class="navbar navbar-default">
      <div id="navbar" class="container">
        <div class="navbar-header">
          <button data-toggle="collapse" data-target="#bs-navbar-collapse" class="navbar-toggle"></button><a href="/" class="navbar-brand">{{title}}</a>
        </div>
        <div id="bs-navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-click="showHome()" class="nav">Home</li>
            <li ng-click="showAbout()" class="nav">About</li>
            <li ng-click="showSkills()" class="nav">Skills</li>
            <li ng-click="showProjects()" class="nav">Projects</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <h2>Joy Pratt</h2>
          <h3>Full Stack Developer</h3>
          <h4>Radiologic Technologist, R.T.(R)(M)</h4>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </div>
    <div class="container">
      <div ng-show="about" class="row">
        <div class="col-xs-12">
          <h3>About</h3>
        </div>
      </div>
      <div ng-show="about" class="row">
        <div class="col-xs-2"><a id="photo" class="thumbnail"><img src="public/assets/joy.jpg"></a></div>
        <div class="col-xs-10">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-show="skills" class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <h3>Skills</h3>
          <h4>Languages</h4>
          <h5>JavaScript, Node.js, AngularJS, HTML5, CSS, Jade</h5>
          <h4>Databases</h4>
          <h5>MongoDB, Access</h5>
          <h4>Tools</h4>
          <h5>Git, GitHub, Express, Vim, Atom, Grunt, Gulp</h5>
          <h4>Operating Systems</h4>
          <h5>Windows 8.1 and earlier, MacOS X and earlier</h5>
          <h4>Microsoft Office: Word, Excel, PowerPoint, Outlook, Project</h4>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </div>
    <div class="container">
      <div ng-show="projects" class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <h3>Projects</h3>&nbsp
          <h4>Games- Group Projects</h4>
          <h5><a href="http://joyp.github.io/pirateb/" class="thumbnail">Pirate's Booty</a></h5>
          <h5>Team Members: </h5>
          <li><a href="https://github.com/zoeames">Zoe Ames</a></li>
          <li><a href="https://github.com/ABarnhard">Adam Barnhard</a></li>
          <li><a href="https://github.com/SarahMPearson">Sarah Pearson</a></li>&nbsp
          <h5><a href="http://joyp.github.io/z-chaser/" class="thumbnail">Burger Town</a></h5>
          <h5>Team Members: </h5>
          <li><a href="https://github.com/kadowki">Dave Boling </a></li>
          <li><a href="https://github.com/mkeef1">Matt Keef</a></li>
        </div>
      </div>
    </div>
    <script src="/public/vendor/jquery/dist/jquery.js"></script>
    <script src="/public/vendor/angular/angular.js"></script>
    <script src="/public/vendor/angular-route/angular-route.js"></script>
    <script src="/public/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/public/index.js"></script>
    <script src="/public/home.js"></script>
  </body>
</html>